@use '../../styles/vars.scss';

.sign-in-body {
    background-color: vars.$blue-color;
    color: vars.$white-color;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 20px;
    box-shadow: 5px 5px 5px vars.$black-color;
}

.sign-in-title {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.sign-in-mail,
.sign-in-password {
    display: flex;
    flex-direction: column;
}

.sign-in-mail label,
.sign-in-password label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.sign-in-mail input,
.sign-in-password input {
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
}

.sign-in-button {
text-align: center;
}

.sign-in-button button {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: vars.$white-color;
    color: vars.$blue-color;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.sign-in-button button:hover {
    border-radius: 20px;
    box-shadow: 5px 5px 5px vars.$black-color;
}