@use '../../styles/vars.scss';

.brand {
    margin: 2rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-name {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.brand-text {
    text-align: justify;
}

.categories {
    margin: 2rem 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category-box {
    margin-bottom: 2rem;
    width: 45%;
    height: 15rem;
    border: 0.5px solid vars.$black-color;
    border-radius: 20px;
    box-shadow: 5px 5px 5px vars.$black-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.category-left {
    width: 20%;
}

.category-right {
    width: 60%;
}

.category-name {
    margin-bottom: 1rem;
    color: vars.$black-color;
    font-size: 1.25rem;
    text-align: center;
}

.category-icon {
    color: vars.$black-color;
    font-size: 5rem;
    text-align: center;
}

.category-text {
    text-align: justify;
}

.category-button {
    margin-top: 1rem;
    padding: 0.25rem 1rem;
    background-color: vars.$blue-color;
    color: vars.$white-color;
    border: none;
    border-radius: 20px;
}

.category-button:hover {
    background-color: vars.$white-color;
    color: vars.$blue-color;
    border: 1px solid vars.$blue-color;
}

@media (max-width: 1000px) {
    .brand {
        margin: 2rem 5rem;
    }

    .category-box {
        width: 100%;
    }
}